body {
  background-color: #e7dcec;
  margin: 0;
  padding: 0 auto;
  width: 100%;
  height: 100%;
}

/* Estiliza a barra de rolagem */
::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
}
/* Estiliza o controle */
::-webkit-scrollbar-thumb {
  background-color: #180b28; /* Cor do controle */
  border-radius: 6px;
}
/* Estiliza a trilha */
::-webkit-scrollbar-track {
  background-color: #9b72cf; /* Cor da trilha */
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

#header {
  height: 60px;
  width: 100%;
  background-color: #24103c;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.tituloMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.tituloDoSite {
  font-size: 30px;
  color: #f4effa;
  font-family: monospace;
  margin-left: 15px;
}

.tituloLogo {
  width: 50px;
}

#forms {
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

#main{
  background-color: #e7dcec;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seusDados {
  margin: 20px;
  height: 70vh;
  background-color: #ffffff;
  border-radius: 15px;
  width: 30%;
  overflow: hidden;
  box-shadow: 0px 0px 20px 1px #ccdcff;
}

.tituloForms {
  font-size: 23px;
  font-family: monospace;
  margin: 10px;
  font-weight: 600;
}

.Usuario {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.usuarioDados {
  display: space-between;
  flex-direction: row;
  margin: 10px;
}

.textDados {
  width: 250px;
  height: 15px;
  transition: 0.5s;
  background-color: transparent;
  border-radius: 30px;
  border-color: transparent;
  box-shadow: 0px 0px 10px 1px #9a72cf8a;
  padding: 10px;
  font-family: monospace;
  font-size: 16px;
  outline: none;
}

.textDados:hover {
  transition: 0.2s;
  box-shadow: 0px 0px 20px 2px #ccdcff;
}

.textDados::placeholder,
.textDados::placeholder {
  color: #898989;
}

#cataCard,
#cvc,
#numbEnder,
#complemEnder {
  width: 110px;
  font-variant-numeric: none;
  
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}


#itensDoCarrinho{
  height: 320px;
  width: 100%;
  overflow-y: scroll;
}

.carrProduto{
  transition: 2s;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #ccdcff;
}

.imgComDescricao {
  display: flex;
  flex-direction: row;
}

.carrImg {
  transition: 0.5s;
  width: 60px;
  border-radius: 5px;
}

.carrProduto:hover .carrImg{
  transition: 0.2s;
  box-shadow: 0px 0px 20px 1px #9b72cf;
  width: 62px;
}

.carrDescricao {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 10px;
  padding-left: 10px;
}

.carrDados {
  color: #000000;
  font-family: monospace;
  font-size: 14px;
  margin: 0;
}
.numbProdutos {
  display: flex;
  flex-direction: row;
  align-items: end;
}

.numbDados {
  color: rgb(0, 0, 0);
  font-size: 18px;
}

#numbPecas, #desPrecoTotal, #carrPreco {
  color: rgb(175, 90, 255);
  font-family: monospace;
  font-size: 18px;
  font-weight: 700;
}

.total {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.textoCarrinho {
  color: #000000;
  font-family: monospace;
  font-size: 18px;
}

.botao {
  transition: 0.4s;
  background-color: #532b88;
  height: 50px;
  color: #ffffff;
  border-radius: 5px;
  border-style: solid;
  border-color: transparent;
  font-size: 20px;
  width: 200px;
}

.botao:hover {
  transition: 0.3s;
  background-color: #180b28;
  box-shadow: 0px 0px 20px 1px #d859ff;
}
