body {
  background-color: #f4effa;
  margin: 0;
  padding: 0 auto;
  width: 100%;
  height: 100%;
}

/* Estiliza a barra de rolagem */
::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
}
/* Estiliza o controle */
::-webkit-scrollbar-thumb {
  background-color: #180b28; /* Cor do controle */
  border-radius: 6px;
}
/* Estiliza a trilha */
::-webkit-scrollbar-track {
  background-color: #9b72cf; /* Cor da trilha */
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

/*  /////////////////////////////////////// Meucarrinho */

.carrinhoHistorico {
  transition: 3s;
  position: fixed;
  right: -380px;
  background-color: #24103c;
  height: 100%;
  width: 360px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 20px 2px rgb(0, 0, 0);
  z-index: 2;
}

#cabecalhoCarrinho {
  transition: 2s;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.x {
  width: 20px;
}

.textoCarrinho {
  color: #ffffff;
  font-family: monospace;
  font-size: 18px;
}

.produtosCarrinho {
  height: 65%;
  overflow-y: scroll;
}

#produtosHistorico{
  height: 80%;
}

#removeItem {
  width: 15px;
  display: flex;
  height: 20px;
  z-index: 3;
}

.carrProduto {
  transition: 2s;
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-bottom: 1px solid #ccdcff;
  justify-content: space-between;
}

.imgComDescricao {
  display: flex;
  flex-direction: row;
}

.carrImg {
  transition: 0.5s;
  width: 60px;
  border-radius: 5px;
}

.carrImg:hover {
  transition: 0.2s;
  box-shadow: 0px 0px 10px 2px rgba(202, 202, 202, 0.715);
  width: 62px;
}

.carrDescricao {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 10px;
  padding-left: 10px;
}

.carrDados {
  color: #ffffff;
  font-family: monospace;
  font-size: 14px;
  margin: 0;
}

#carrTipo,
#carrMarca {
  font-size: 10px;
}

.total {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.carrinhoUser {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
}

.pesquisa{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.lupaText{
  height: 25px;
  transition: 1s;
  background-color: transparent;
  border: 0;
  padding: 5px;
  color: #ffffff;
  font-family: monospace;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 1px solid #ccdcff;
  outline: none;
}

.lupaText:hover{
  transition: 0.5s;
  padding: 10px;
  margin-left: 5px;
  border-bottom: 1px solid #d859ff;
}

.lupaText::placeholder,
.lupaText::placeholder {
  color: #ccdcff;
}

.lupaIcon{
  margin: 5px;
  cursor: pointer;
}

.carUser {
  width: 30px;
  margin: 10px;
}

.numbProdutos {
  display: flex;
  flex-direction: row;
  align-items: end;
}

.numbDados {
  color: white;
  font-size: 18px;
}

#numbPecas {
  color: rgb(175, 90, 255);
  font-weight: 700;
}

/*  /////////////////////////////////////// Header/ menu e afins */

#header {
  height: 60px;
  width: 100%;
  background-color: #24103c;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  box-shadow: 0px 0px 20px 1px #ccdcff;
}

.tituloMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.tituloDoSite {
  font-size: 30px;
  color: #f4effa;
  font-family: monospace;
  margin-left: 15px;
}

.tituloLogo {
  width: 50px;
}

/*  /////////////////////////////////////// main/ parte principal */

#main {
  opacity: 0;
  top: 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 800px;
  padding-top: 60px;
}

.transparent-content {
  background-color: transparent;
}

/*  /////////////////////////// destaque */

.destaque {
  background-color: #ccdcff;
  height: 450px;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 2px;
  overflow: hidden;
}

.roupaDestaque {
  margin: 10px;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}

.desDestaque {
  margin-left: 40px;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.roupaImgDestaque {
  transition: 1s;
  width: 280px;
  border-radius: 5px;
}

.roupaDestaque:hover .roupaImgDestaque {
  transition: 0.5s;
  box-shadow: 0px 0px 20px 1px #919cb5;
  padding: 0px;
  width: 290px;
}

.destaDados {
  color: rgb(50, 50, 50);
  margin: 0;
  font-size: 20px;
  font-family: monospace;
}

#destaNome,
#destaPreco {
  font-size: 50px;
}

#destaPreco,
#carrPreco {
  color: rgb(175, 90, 255);
}

.botao {
  transition: 0.4s;
  background-color: #532b88;
  height: 50px;
  color: #ffffff;
  border-radius: 5px;
  border-style: solid;
  border-color: transparent;
  font-size: 20px;
  width: 200px;
}

.botao:hover {
  transition: 0.3s;
  background-color: #180b28;
  box-shadow: 0px 0px 20px 1px #d859ff;
}

.botaoCarr {
  display: flex;
  align-items: center;
}

#botaoCarDestaque {
  margin-top: 30px;
}

/*  /////////////////////////// itens produtos */

.itens {
  background-color: #f4effa;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.roupa {
  margin: 20px;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.roupa:hover .roupaImg {
  transition: 0.5s;
  box-shadow: 0px 0px 30px 1px black;
  width: 260px;
}

.roupaImg {
  transition: 1s;
  width: 250px;
  border-radius: 5px;
}

.descricaoBotao {
  width: 250px;
  display: flex;
  flex-direction: column;
}
.descricao {
  height: 100px;
}

.desDados {
  color: rgb(35, 35, 35);
  margin: 0;
  font-size: 12px;
  font-family: monospace;
}

#desNome,
#desPreco,
#desPrecoTotal,
#desPrecoTotalHistorico {
  font-size: 18px;
}

#desPreco,
#desPrecoTotal,
#desPrecoTotalHistorico {
  color: rgb(175, 90, 255);
}
